# Virtual environment
venv/
.venv/
env/

# Secrets & Environment variables
.env

# Downloads & Chunks
downloads/
downloades/
*.wav
*.mp4
*.webm
*.mp3

# Vector DB storage
chroma_db/
*.parquet

# Python cache
__pycache__/
*.pyc
.pytest_cache/